:root {
  --theme-color: rgb(43, 55, 140);
  --theme-color-light: rgba(43, 55, 140, 0.05);
  --theme-color-medium: rgba(43, 55, 140, 0.1);
/*
  --theme-color: rgb(49, 52, 66);
  --theme-color-light: rgba(49, 52, 66, 0.05);
  --theme-color-medium: rgba(49, 52, 66, 0.1);
  */
}
/*
.container {
  display: flex;
  flex-direction: column;
}
.sidebar {
  display: flex;
  align-items: center;
}
.sidebar .list-item {
  padding: 15px;
}
.sidebar h1 {
  font-size: 25px;
  padding: 5px 20px !important;
}
.sidebar .list-item.selected {
  background: rgba(0,0,0,0.2);
}
*/



body {
  font-family: Sans-serif;
  font-size: 14px;
  margin: 0;
}
body.public {
  --theme-color: rgba(0,0,0,0.9);
  --theme-color-light: rgba(0, 0, 0, 0.05);
  --theme-color-medium: rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  height: 100%;
}
.sidebar {
  background: var(--theme-color);
  color: white;
}
.sidebar a {
  color: white;
}
.sidebar h1 {
/*
  padding: 10px 30px;
  */
  padding: 10px 20px;
}
.dark {
  background: var(--theme-color);
  color: white;
}
.main {
  position: relative;
  flex-grow: 1;
  overflow: auto;
}
.main.mini {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

/*
  display: flex;
  justify-content: center;
  align-items: center;
  */

}
/*
.main.mini header.form {
  padding: 0;
}
*/
a {
  color: black;
  text-decoration: none;
}
a.link {
  border-bottom: 1px solid rgba(0,0,0,0.8);
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
header.form {
  padding: 50px 50px 20px;
}
header {
/*
  background: var(--theme-color-light);
  */
  padding: 30px;
}
/*
.list-items {
  padding: 20px;
}
*/
.list-item:hover, .content-item:hover {
/*
  border-left: 10px solid var(--theme-color);
  */
  background: rgba(0,0,0,0.1) !important;
}
.list-item {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
}
.list-item:nth-child(odd) {
  background: var(--theme-color-light);
}
.list-item.selected {
  background: rgba(255,255,255,0.1);
}
.list-item .timestamp {
  color: gray;
  display: inline-block;
  margin-left: 10px;
}
.content-item {
  cursor: pointer;
  display: flex;
  /*
  border-top: 1px solid var(--theme-color-medium);
  */
  padding: 10px;
}
.content-item > .name {
  margin-right: 10px;
  flex-shrink: 0;
}
.content-item:nth-child(odd) {
  background: var(--theme-color-medium);
}
.content-item.selected {
  background: rgba(255,255,255,0.1);
}
.content-item pre {
  margin: 0;
  padding: 10px;
  white-space: pre-wrap;
  background: var(--theme-color);
  font-family: Menlo, monaco, monospace;
  font-size: 12px;
  color: white;
}
.btn {
  font-size: 14px;
  background: var(--theme-color);
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.btn.light {
  color: var(--theme-color);
  /*
  border: 1px solid var(--theme-color);
  */
  opacity: 0.8;
  background: none;
  padding: 4px 9px;
}
.btn.alert {
  background: white;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  padding: 4px 9px;
}
.btn.disabled {
  background: none;
  cursor: not-allowed;
  color: var(--theme-color);
}
.margin-top-s {
  margin-top: 5px;
}
.margin-bottom-s {
  margin-bottom: 5px;
}
.margin-s {
  margin: 5px;
}
.margin-top-m {
  margin-top: 10px;
}
.margin-bottom-m {
  margin-bottom: 10px;
}
.margin-m {
  margin: 10px;
}
.readme {
  padding: 10px;
}
small {
  display: block;
  font-size: 12px;
  font-weight: bold;
}
form {
  display: block;
  margin: 0;
}
.form-item.admin button {
  padding: 10px;
  background: rgba(0,0,0,0.9);
  text-transform: uppercase;
  font-size:12px;
  font-weight: bold;
}
.form-item.merged {
  margin: 0;
}
.form-item {
  padding: 5px 10px;
  border-left: 3px solid rgba(0,0,0,0.2);
  margin: 10px 0;
}
/*
.form-item input[type=text] {
  padding: 5px 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0;
  outline: none;
  display: block;
  max-width: 800px;
  width: 100%;
}
*/
.form-item a {
  color: var(--theme-color);
}
.form-item textarea {
  height: 200px;
  font-family: Menlo, monaco, monospace;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.2);
}
.table {
  table-layout: fixed;
  width: 100%;
}
td {
  word-break: break-word;
}
td .btn {
  width: 100%;
}
[contenteditable=true], input[type=text], input[type=password] {
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  /*
  background: white;
  border: 2px dashed rgba(0,0,0,0.8);
  */
  border: none;
  background: var(--theme-color-medium);
}
[contenteditable=true]:empty {
  /*
  border: 2px dashed rgba(0,0,0,0.8);
  */
  border: none;
  background: var(--theme-color-medium);
}
.dropzone {
  /*
  background: none;
  border: 10px dashed rgba(0,0,0,0.8);
  */
  border: none;
  background: var(--theme-color-medium);
  font-weight: bold;
  position: absolute;
  margin: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dropzone .dz-preview {
  width: 100%;
  height: 100%;
  margin: 0;
}
.dropzone .dz-preview .dz-details .dz-size {
  font-size: 30px;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  width: 100%;
  height: 100%;
}
.dropzone .dz-preview:hover .dz-details {
  height: 100%;
  font-size: 20px;
}
.dropzone .dz-progress {
  height: 25px !important;
  left: 10% !important;
  width: 80% !important;
  margin-left: 0 !important;
}
#progressbar {
  position: sticky;
  top: 0;
}
#progressstatus:empty {
  display: none;
}
#progressstatus {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  background: var(--theme-color);
  color: white;
}
.card-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-item {
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.1);
/*
  display: flex;
  */
  width: 150px;
  padding: 10px;
}
.card-item .img {
  /*
  max-height: 100px;
  */
  /*
  width: 100px;
  height: 100px;
  margin-right: 10px;
  */
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-item .img img {
  max-width: 100%;
  max-height: 100%;
}
.card-item .header {
  margin-top: 10px;
}
.card-item .header h3 {
  font-size: 12px;
}
/*
.card-item:nth-child(even) {
  background: var(--theme-color-light);
}
*/
h1 {
  font-size: 40px;
  letter-spacing: -2px;
  /*
  color: var(--theme-color);
  */
}
.console {
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.4);
  margin-top: 20px;
}
.console:empty {
  padding: 0;
  margin: 0;
  border: none;
}
.filler {
  padding: 20px;
  text-align: center;
  color: rgba(0,0,0,0.7);
}
.filler > * {
  margin: 20px;
}
.status {
  padding: 10px;
  border-left: 4px solid rgba(0,0,0,0.1);
  margin-top: 10px;
}
.status-message {
  margin-top: 2px;
  color: rgba(0,0,0,0.5);
}
.hidden {
  display: none;
}
.flexible {
  flex-grow: 1;
}
.choices {
  
}
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: inherit;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.3);
}
td, th {
  font-size: 12px;
  padding: 10px;
}
tr:nth-child(odd) {
  background: var(--theme-color-light);
}
hr {
  margin: 20px 0;
  background: var(--theme-color-light);
  border: none;
  height: 1px;
}
.paginator {
  text-align: center;
  padding: 50px 0;
}
.paginator .page {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  opacity: 0.4;
}
.paginator .selected.page {
  font-weight: bold;
  opacity: 1;
}
.tingle-modal-box {
  height: 80%;
}
.tingle-modal-box__content {
  padding: 0px;
}
.tingle-modal-box__content iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
#address {
  color: rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}

#file-picker {
  display: block;
  margin: 10px 0;
  width: 100%;
}
#file-picker-cid {
  box-sizing: border-box;
  padding: 5px;
  display: block;
  margin: 10px 0;
  width: 100%;
  background: white;
  font-size: 12px;
}
#image-preview {
  margin-top: 10px;
  max-height: 100px;
  max-width: 100%;
}
.swal2-modal .form-item {
  border: none;
  padding: 0;
}
.swal2-modal small {
  color: white;
}
.swal2-modal #file-picker {
  color: white;
}
.swal2-modal {
  border-radius: 0;
  background: var(--theme-color);
  color: white;
}
.swal2-html-container {
  text-align: left;
}
.swal2-html-container input[type=text], .swal2-html-container input[type=password] {
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  background: white;
  border: none;
}
.swal2-title {
  text-align: left;
  /*
  color: var(--theme-color);
  */
  color: white;
}
.swal2-styled.swal2-confirm {
  border-radius: 2px;
  background: var(--theme-color);
  width: 100px;
}
.info-items {
  background: var(--theme-color-light);
  margin: 10px 0;
  padding: 10px;
}
.info-item {
  display: block;
  padding: 5px;
}
.info-items a {
  display: inline-block;
  text-decoration: underline;
}
.visibility:empty {
  display: none;
}
.visibility {
  padding: 10px 15px;
  background: var(--theme-color-medium);
  text-transform: lowercase;
}
.visibility-info {
  padding: 2px;
}
.badge {
  text-transform: uppercase;
  padding: 2px;
  font-weight: bold;
}
.badge .link {
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
}
.mint-form {
  background: var(--theme-color-light);
}
.mint-form input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
  border: none;
  background: white;
  outline: none;
}
.mint-desc {
  color: white;
  font-size: 14px;
  margin-bottom: 40px;
}
.transfer-desc {
  color: white;
  font-size: 14px;
  padding: 10px;
}
.marketplaces a {
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.marketplaces img {
  height: 20px;
}
.explain {
  background: rgba(0,0,0,0.05);
  padding: 30px;
  font-size: 14px;
  color: rgba(0,0,0,0.8);
  line-height: 20px;
}
.explain a {
  color: rgba(0,0,0,0.6);
  text-decoration: underline;
  font-weight: bold;
}
blockquote {
  margin: 0;
  padding: 10px;
  border-left: 5px solid silver;
  color: gray;
}
.well {
  background: var(--theme-color-light);
  padding: 10px;
  color: rgba(0,0,0,0.8);
  margin: 10px 0;
}
.well li {
  padding: 5px 0;
  max-width: 800px;
}
select {
  width: 100%;
  box-sizing: border-box;
}
.destructive {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}
.burned-status {
  padding: 10px;
  background: firebrick;
  color: white;
}
.info {
/*
  background: rgba(100,255,0,0.2);
  background: var(--theme-color-medium);
  */
  background: lemonchiffon;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px 0;
}
.region {
  padding: 10px 20px; 
  margin: 10px 0;
  background: var(--theme-color-light);
}
